extends layouts/_layout.pug

block variables
	- var activePage = 'index';
	- var activeGroup = 'none';

block content
	.app-title
		div
			h1
				i.fa.fa-dashboard
				|  Dashboard
			p A bunch of tools to check old and new stuff from CEWE sites

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				a(href='https://dev.paris.cewe.lan/extradata') Extradata

	.row
		.col-md-6.col-lg-3
			.widget-small.primary.coloured-icon
				i.icon.fa.fa-users.fa-3x
				div.info
					h4 FNAC MCOPS
					p
						b 	
						a.btn.btn-primary.icon-btn(href="https://dev.paris.cewe.lan:18455",target="_blank") Go to site
						
		.col-md-6.col-lg-3
			.widget-small.info.coloured-icon
				i.icon.fa.fa-thumbs-o-up.fa-3x
				div.info
					h4 Système U COPS3
					p
						b 	
						a.btn.btn-primary.icon-btn(href="https://dev.paris.cewe.lan:13435",target="_blank") Go to site
	

	.row
